/* Write your global styles here, in PostCSS syntax */
@import "tailwindcss";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";


html {
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 85px;
}

.input {
    @apply text-center
}

.unset_input[type=text] {
    all: unset
}
