/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/themes/sahara";


html {
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 85px;
}

.input {
    text-align: center
}

.unset_input[type=text] {
    all: unset
}
